<div class="fakebody">

<div class="container">

<div class="logIn slideUp text-center ">

	<%= form_for @user, {url: session_path} do |f| %>
        
        <form class="form-signin" role="form">

	        <h2 class="form-signin-heading whitetxt"></h2>
	        <%= image_tag("aglogo.png", :class=> "logoimagetwo", :alt => "logo") %>

	        <br /><br />

	        <%= f.text_field :email, placeholder: "Email", :class => "form-control" %><br />

	        <%= f.password_field :password, placeholder: "password", :class => "form-control"  %>

<!-- 	        <div class="checkbox">
	          <label>
	            <input type="checkbox" value="remember-me"> Remember me
	          </label>
	        </div> -->
	        <%= f.submit "Sign in", :class => "btn btn-bluer btn-lg btn-primary btn-block" %>

      	</form>
    
    <% end %>

    	<br />

</div>

</div>

</div>

<div class="footer">

<span class="pull-left padfot">TheAnswerGuru. &copy; 2015 All Rights Reserved.</span> 
<span class="pull-right padfot">Made by Jeremy Zander</span>

</div>