<div class="fakebody">

<div class="container">
	<div class="text-center marg another">
	<%= image_tag("signuptxt.png", :class=> "logoimage fadeIn", :alt => "logo") %><br />
	<%= image_tag("aglogo.png", :class=> "logoimage", :alt => "logo") %>
	</div>

	<div class="signUpForm slideUp text-center">

		<%= form_for @user do |f| %>

	

				<div class="form-group">
					<%= f.text_field :name, :class =>"form-control", placeholder: "What is your name?" %> 
				</div>

				<div class="form-group">
					<%= f.text_field :email, :class =>"form-control", placeholder: "Email" %>
				</div>

				<div class="form-group">
					<%= f.password_field :password, :class =>"form-control", placeholder: "password..." %>
				</div>

				<div class="form-group">
					<%= f.password_field :password_confirmation, :class =>"form-control", placeholder: "re-enter password" %>
				</div>

				<div class="form-group">
					<%= f.submit "submit", :class => "btn btn-default btn-md btn-bluerrr sub" %>
				</div>

		

		<% end %>
			
	</div>
	
	<br /><br />
<!-- 	<h3 class="text-center">Already have an account? </h3>
	<h4 class="text-center">Sign in below.</h4>

		<div class="logIn text-center ">

			<h1 class="text-center">Log in</h1><br />

			<%= form_for @user, {url: session_path} do |f| %>
				<%= f.text_field :email, placeholder: "Email", :class => "inputEmail" %><br />
				<%= f.password_field :password, placeholder: "password" %><br />
				<%= f.submit "Log in", :class => "btn btn-default btn-md btn-blue" %>
			<% end %>

		</div> -->



	<!-- <div class="formTwo">
		<form role="form">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Name</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div> -->

</div>

</div>

<div class="footer">

<span class="pull-left padfot">TheAnswerGuru. &copy; 2015 All Rights Reserved.</span> 
<span class="pull-right padfot">Made by Jeremy Zander</span>

</div>